# os
.DS_Store

# editor
.idea/
!.vscode/settings.json
.fleet/

# build
build/
!apps/desktop/build
dist/
release/

# node
node_modules

# test
coverage/

# cypress
**/cypress/screenshots
**/cypress/videos

# turbo
**/.turbo

# temp
**/tmp
**/temp
**/cache
!**/src/cache
